mixin categories
    section.categories
        .container.flex-container
            .flex-container--row
                a.categories__item(href = "#")
                    span.categories__name Пицца
                .flex-container--column
                    a.categories__item(href = "#")
                        span.categories__name Суши
                    a.categories__item(href = "#")
                        span.categories__name WOK
            .flex-container--row
                a.categories__item(href = "#")
                    span.categories__name Салаты
                a.categories__item(href = "#")
                    span.categories__name Блинчики
                a.categories__item(href = "#")
                    span.categories__name Супы

            a.categories__all(href = "#") Все категории
