mixin info
    section
        .container.parallax-info
            .content
                .content-text Больше девяти лет опыта и качества. И это только начало. Только натуральные продукты, оригинальные рецепты. Сладкая и соленая выпечка, торты, десерты на любой вкус. К нам невозможно не зайти – самые удобные точки города. Где бы вы ни были, мы всегда рядом. Мы тщательно отбираем каждый продукт, проверяя и контролируя качество для того, чтобы вы получали наслаждение от лучших блюд.


