extends ../../page-templates/base.pug
include navigation/navigation
include slider/slider
include categories/categories
include sales/sales
include info/info
include map/map

block content
    +navig
    +slider
    +categories
    +sales
    +info
    +map
