mixin navig
    section.navigation
        .container.nav-container
            nav
                ul.menu
                    li.menu__category
                        a Пицца
                    li.menu__category
                        a Суши
                    li.menu__category
                        a  WOK
                    li.menu__category
                        a Блинчики
                    li.menu__category
                        a Салаты
                    li.menu__category
                        a Супы
                    li.menu__category
                        a Десерты
                    li.menu__category
                        a Напитки
            .cart
                img.cart__logo(src = "./assets/img/navigation/cart.png" alt = "cart")
                span 0 грн
