mixin slider
    section
        .container.slider-container
            .owl-carousel.slider-block
                .owl-content
                    .slider__slide
                        img(src = "./assets/img/slider/sets.jpg")
                .owl-content
                    .slider__slide
                        img(src = "./assets/img/slider/veget.jpg")
                .owl-content
                    .slider__slide
                        img(src = "./assets/img/slider/diet.jpg")


