@import "./../../variables.scss";
//@import "./../../mixins"

header{
background-color: #fff;
}
.header-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__logo{
  height: 60px;
  margin: 10px 0;
}
.header__phone{
  margin-left: auto;
  margin-right: 10px;
}
.sign-in__logo{
  height: 30px;
  width: 30px;
  margin-left: 50px;
}
.sign-in__text{
  display: inline;
  margin-left: 10px;
  &:hover{
    color: $header-hover-color;
    cursor: pointer;
  }
}
