//include  ../popup/popup
//include ../sign-in/sign-in
//include ../sign-out/sign-out

mixin header
    header
        .container.header-container
            img.header__logo(src="./assets/img/header/vegan-logo.png" alt="logo")
            .header__phone 0432 752 752
            .header__contacts Contacts
            .sign-in
                img.sign-in__logo(src="./assets/img/header/signin.png" alt="sign_in")
                .sign-in__text Sign in
