mixin sales
    section
        .container.parallax
            .content
                .sales-info Друзья! У нас работает новая бонусная система. Все что вам нужно, это зарегистрироваться. С новой бонусной программе вы получите 5% кэшбек при регистрации, которые можно использовать при последующих заказах. С количеством заказов будет увеличиваться процент кэшбек. Бонусы будут начислятися с каждой позиции на бонусный счет, которые можно использовать при последующих заказах.
                .button Узнать больше



