mixin map
    section.map-section
        .container
            h2.map-header  Мы на карте
            iframe.map-section__google-map(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6156.278565448718!2d144.2505106970015!3d-23.440793042214025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sus!4v1564489766885!5m2!1sru!2sus',
                allowfullscreen='', frameborder='0')